.Chambre{
    position: relative;
    height: 70px;    
    width: 100%;
    background-color: aquqa;
    border-radius: 4px;
    padding: 1px;
}
.Chambre div:first-child{
    display: flex;
}

.NumChambre{
    margin: 0 auto;
    font-size: 80%;
}


.btn {
    border: none;
    background-color:rgb(245, 245, 245);
    cursor: pointer;
    border: 1px solid ;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 2.5px;
    color: rgb(100, 187, 187);
    font-size: 12px;
    margin-right: 3px;
    
    padding: 0px;

  }
  
  /* On mouse-over */
  .btn:hover {
       background: rgb(214, 208, 208);
    }

.container{

    display: flex;
    height: 40px;
    
}
.radiobtn-modifier{
    justify-content: end;
    height: 17px;
    margin-top: 23px;
}