.aff {
    width: 90%;
    margin-top: 3%;
    height: 100vh;
}
.aff > .titre {
    margin-right: 45;
    font-size: 19px;
    color: black;

}
.forms {
    display: flex;
}
.forms > form:nth-child(2) {
    margin-left: 4%;
    margin-top: 6%;
   
    width: 20%;
    border-radius: 11px;
}
.affectation {
    margin-top: 6%;
    display: flex;
    margin-left: 20%;
    flex-direction: column;
    background: rgba(46, 45, 45, 0.5);
    width: 50%;
    height: 60%;
    border-radius: 11px;
    justify-content: center;
    align-items: center;
}
.affectation > div {
    margin-top :5% ;
    width: 90% ;
    margin-left: 50%;
}
.affectation > div >span> .validate {
    margin-top: 29px;
}
.affectation > div > input {
    width: 41%;
} 

.affectation > div > select {
    width: 42%;
}
.affectation > div > button {
    margin-left: 13%;
    width: 17%;
    border-radius: 11px;
    padding: 3px;
}
.affectation > div > button:hover {
    background: rgba(54, 53, 53, 0.63);
    color: honeydew;
    cursor: pointer;
}